{% extends "base.nunjucks" %}

{% set title = "Robyn Stotter Portfolio" %}

{% block main %}
<div class="slider">
		<div><img src="images/slider/suijin.jpg" /></div>
		<div><img src="images/slider/mossrock.jpg" /></div>
		<div><img src="images/slider/sulfur2.jpg" /></div>


        <div><img src="images/slider/sequoia.jpg" /></div>
		<div><img src="images/slider/rust.jpg" /></div>
		<div><img src="images/slider/sulfur2.jpg" /></div>

	</div> <!-- slider -->
    <div class="title">
        <h1>ROBYN STOTTER</h1>
        <h2>Level Designer - Environment Artist</h2>  
    </div> <!-- title -->
	<section id="portfolio">
    
    <h3>COMPLETED WORKS</h3>
    <div class="hr"></div>
    
    <section id="completed_works">
    
	<!-- ROW ONE -->
    <a href="sulfur.html">
    <figure class="work">
        
        <img src="images/works/sulfur.jpg" />
            <figcaption>
                <h4><span>CP</span> SULFUR</h4>
                <p>TEAM FORTRESS 2</p>
            </figcaption>
        
    </figure></a>
    
    <a href="inari.html">
    <figure class="work second-work">
        
        <img src="images/works/inari.jpg" />
            <figcaption>
                <h4><span>PL</span> INARI</h4>
                <p>TEAM FORTRESS 2</p>
            </figcaption>
        
    </figure></a>
    
    <a href="suijin.html">
    <figure class="work">
        
        <img src="images/works/suijin.jpg" />
            <figcaption>
                <h4><span>KOTH</span> SUIJIN</h4>
                <p>TEAM FORTRESS 2</p>
                
            </figcaption>
        
    </figure></a>
    
    <a href="mossrock.html">
    <figure class="work last-work second-work">
        
        <img src="images/works/mossrock.jpg" />
            <figcaption>
                <h4><span>CP</span> MOSSROCK</h4>
                <p>TEAM FORTRESS 2</p>
            </figcaption>
        
    </figure>
    </a>  
	
	<!-- ROW TWO -->
	
	<a href="sequoia.html">
    <figure class="work">
        
        <img src="images/works/sequoia.jpg" />
            <figcaption>
                <h4><span>MVM</span> SEQUOIA</h4>
                <p>TEAM FORTRESS 2</p>
            </figcaption>
        
    </figure>
    </a>
	<a href="teien.html">
    <figure class="work second-work">
        
        <img src="images/works/teien.jpg" />
            <figcaption>
                <h4><span>MVM</span> TEIEN</h4>
                <p>TEAM FORTRESS 2</p>
            </figcaption>
        
    </figure>
    </a>
	<a href="chip.html">
    <figure class="work second-work">
        
        <img src="images/works/chip.jpg" />
            <figcaption>
                <h4><span>CP</span> CHIP</h4>
                <p>TEAM FORTRESS 2</p>
            </figcaption>
        
    </figure>
    </a>
	<a href="rust.html">
    <figure class="work last-work second-work">
        
        <img src="images/works/rust.jpg" />
            <figcaption>
                <h4><span>CP</span> RUST</h4>
                <p>TEAM FORTRESS 2</p>
            </figcaption>
        
    </figure>
    </a>
  	

	
    <div class="clearfix"></div> 
    </section> <!-- completed_works -->
	
	
    </section> <!-- portfolio -->
{% endblock %}
