{% extends "base.nunjucks" %}

{% set title = "Suijin - Robyn Stotter Portfolio" %}
{% set gamemode = "ARENA" %}
{% set mapname = "SUIJIN" %}

{% set role = "Level Designer, Environment Artist" %}
{% set platform = "PC" %}
{% set engine = "Source" %}

{% set downloadlink = "#" %}



{% block main %}

<section id="content">
    
    <h2><span>{{ gamemode }}</span> {{ mapname }}</h2>
    
    <section class="description">
    <h4>Project Description</h4>
    <p>
    Rust is a payload map developed as a collaboration between <a href="http://www.joeradak.com/">Joe 'Fr0z3n' Radak</a> and myself. Joe was in charge of the layout and gameplay, whilst I artpassed the map as well as created custom assets for it.
    </p>
    <p>
    Rust is a iron ore mine and processing complex, set in north Western Australia. The style combines both realistic Australian landscapes - large, long ore trains, eroded rolling hills and large flat shrublands, with the already established desert style from Valve's Team Fortress 2. The result is a unique take on a theme with many variations already.
    </p>
    </section><!-- description -->
    
    <aside class="details">
        <h4>Project Details</h4>
        <ul>
            <li><strong>Role:</strong> {{ role }}</li>
            <li><strong>Platform:</strong> {{ platform }}</li>
            <li><strong>Engine:</strong> {{ engine }}</li>
        </ul>
        <p>
        <span class="glyphicon glyphicon-download-alt"></span><a href="{{ downloadlink }}"> DOWNLOAD</a>
        </p>
    </aside>
    <a href="images/screenshots/suijin/suijin1.jpg"><img src="images/screenshots/suijin/suijin1.jpg"></a>
    <a href="images/screenshots/suijin/suijin2.jpg"><img src="images/screenshots/suijin/suijin2.jpg"></a>
    <a href="images/screenshots/suijin/suijin3.jpg"><img src="images/screenshots/suijin/suijin3.jpg"></a>
    <a href="images/screenshots/suijin/suijin4.jpg"><img src="images/screenshots/suijin/suijin4.jpg"></a>
    <a href="images/screenshots/suijin/suijin5.jpg"><img src="images/screenshots/suijin/suijin5.jpg"></a>

    
    
    
    

     
    <div class="clearfix"></div> 
    </section> <!-- content -->
	
{% endblock %}