{% include "base.nunjucks" %}

{% set title = "Suijin - Robyn Stotter Portfolio" %}
{% set gamemode = "ARENA" %}
{% set mapname = "SUIJIN" %}

{% set role = "Level Designer, Environment Artist" %}
{% set platform = "PC" %}
{% set engine = "Source" %}

{% set downloadlink = "#" %}

{% block header %}{% endblock %}

{% block bodystart %}{% endblock %}

    <section class="description">
    <h4>Project Description</h4>
    <p>
    Suijin is a large arena map for Valve's Team Fortress 2 set in and around a cliffside shinto temple. It is a traditional arena map designed with the ethos of "clip only if it's necessary," meaning for most locations in the map, if the player can see it, they can get there. This allows for numerous strateigic possibilities in a game mode that is infamous for it's lack of strategy. Often, this results in players trying to find new and creative ways to navigate the map, resulting in more replayability and a different match every time, rather than the rather static stratergies existant in other maps.
    </p>
    <p>
    Suijin is the flagship map for the <a href="http://japan.tf2maps.net">Japan theme</a>, a pack of custom models, materials and particles for Valve's Team Fortress 2, developed for this map by myself and <a href="http://steamcommunity.com/id/earkham/">E-Arkham.</a>
    </p>
    <p>
    Suijin also exists as a koth gametype, with a few design changes to make it more suitable to this mode, such as extra spawn exits and health/ammo pickups. However, the map was originally intended for arena and the arena mode drove it's design.
    </p>
    </section><!-- description -->
	
{% block aside %}{% endblock %}

{% block bodyend %}{% endblock %}

{% block footer %}{% endblock %}
